:root{
    --transition: all 0.3s linear;
}
.container {
    background: #fff;
    border-radius: 0.25rem;
    padding: 1rem;
    max-width: 920px;
    display: flex;
    grid-gap: 1rem 2rem;
    gap: 1rem 2rem;
    width: 90vw;
    margin: 0 auto;
    max-width: 35rem;
    margin-top: 8rem;
}

.grocery-h3 {
    margin-bottom: 1.5rem;
    text-align: center;
    color: #003326
    ;
}

.grocery-form{
    padding: 0.25rem;
    padding-left: 1rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-color: transparent;
    font-size: 1rem;
    flex: 1 0 auto;
}

.div-form {
    display: flex;
    justify-content: center;
}

.btn{
    background: #00b386;
    border-color: transparent;
    color: #003326;
    flex: 0 0 5rem;
    display: grid;
    align-items: center;
    padding: 0.25rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    font-size: 0.85rem;
    cursor: pointer;
    transition: var(--transition);
}

.btn:hover {
    background: #00664c;
    color: #fff;;
}

.input-grocery{
    padding: 0.25rem;
    padding-left: 1rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-color: transparent;
    font-size: 1rem;
    flex: 1 0 auto;
    background-color: #77889948;
}